# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
venv/
venv310/
.env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Dataset folders (DO NOT PUSH DATA)
data/
datasets/

# Results & outputs
results/
outputs/
*.npy
*.npz
*.pth
*.png
*.jpg

# Logs
*.log
logs/

# Cache
.cache/
