# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv310/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# DATASETS (DO NOT PUSH)
data/
datasets/
*/data/
*/datasets/

# RESULTS & OUTPUT FILES
results/
outputs/
runs/
*.npz
*.npy
*.pth
*.pt
*.ckpt
*.png
*.jpg
*.jpeg
*.bmp

# Cache
.cache/
logs/
