# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Datasets
data/
datasets/
*.zip
*.tar
*.tar.gz

# Model checkpoints & outputs
checkpoints/
results/
*.pt
*.pth
*.ckpt
*.npy
*.npz

# Logs
logs/
*.log

# Cache
.cache/
